name: clang-tidy

on:
  push:
    paths-ignore:
      - 'README.md'
      - 'doc/**'
  pull_request:
    paths-ignore:
      - 'README.md'
      - 'doc/**'

jobs:
  clang-tidy:
    runs-on: ubuntu-24.04

    steps:
    - uses: actions/checkout@v5

    - uses: awalsh128/cache-apt-pkgs-action@latest
      with:
        packages: libpq-dev clang-tidy
        version: 3.0

    - run: find include/ src/ -name '*.?pp' | xargs -I '{}' clang-tidy --quiet '{}' -- --std=c++20 -Iinclude -I$(pg_config --includedir)
