name: clang-analyze

on:
  #push:
  #  paths-ignore:
  #    - 'README.md'
  #    - 'doc/**'
  pull_request:
    paths-ignore:
      - 'README.md'
      - 'doc/**'

jobs:
  clang-analyze:
    runs-on: ubuntu-24.04

    steps:
    - uses: actions/checkout@v5

    - uses: awalsh128/cache-apt-pkgs-action@latest
      with:
        packages: clang-tools libpq-dev
        version: 1.0

    - name: Configure CMake Project
      run: scan-build cmake --preset unixlike-release-dev

    - name: Build project files
      run: scan-build cmake --build --preset unixlike-release-dev
