name: clang-tidy

on:
  push:
    paths-ignore:
      - 'README.md'
      - 'doc/**'
  pull_request:
    paths-ignore:
      - 'README.md'
      - 'doc/**'

jobs:
  clang-tidy:
    runs-on: ubuntu-24.04

    steps:
    - uses: actions/checkout@v5

    - uses: awalsh128/cache-apt-pkgs-action@latest
      with:
        packages: libpq-dev clang-tidy
        version: 3.0

    - name: Configure CMake Project
      run: cmake --preset unixlike-debug-dev -DBUILD_EXAMPLES=OFF -DBUILD_TESTING=OFF

    - name: Build project files
      run: cmake --build --preset unixlike-debug-dev

    - name: Run clang-tidy
      run: run-clang-tidy -p build/unixlike-debug-dev/
