name: macOS

on:
  push:
    paths-ignore:
      - 'README.md'
      - 'doc/**'
  pull_request:
    paths-ignore:
      - 'README.md'
      - 'doc/**'

jobs:
  xcode-macos-13:
    strategy:
      fail-fast: false
      matrix:
        xcode: ['13', '14', '15']
        build_type: [Debug, Release]

    runs-on: macos-13

    env:
      TAOPQ_TEST_DATABASE: host=localhost dbname=postgres user=postgres password=postgres

    steps:
    - uses: actions/checkout@v4
    - uses: ikalnytskyi/action-setup-postgres@v5

    - run: cmake -E make_directory build

    - working-directory: build/
      run: cmake $GITHUB_WORKSPACE

    - working-directory: build/
      run: cmake --build . --config ${{ matrix.build_type }}

    - working-directory: build/
      run: ctest --config ${{ matrix.build_type }} --output-on-failure

  xcode-macos-12:
    strategy:
      fail-fast: false
      matrix:
        xcode: ['11', '12']
        build_type: [Debug, Release]

    runs-on: macos-12

    env:
      TAOPQ_TEST_DATABASE: host=localhost dbname=postgres user=postgres password=postgres

    steps:
    - uses: actions/checkout@v4
    - uses: ikalnytskyi/action-setup-postgres@v5

    - run: cmake -E make_directory build

    - working-directory: build/
      run: cmake $GITHUB_WORKSPACE

    - working-directory: build/
      run: cmake --build . --config ${{ matrix.build_type }}

    - working-directory: build/
      run: ctest --config ${{ matrix.build_type }} --output-on-failure
