name: macOS

on:
  #push:
  #  paths-ignore:
  #    - 'README.md'
  #    - 'doc/**'
  pull_request:
    paths-ignore:
      - 'README.md'
      - 'doc/**'

jobs:
  xcode-macos-15:
    runs-on: macos-15
    env:
      TAOPQ_TEST_DATABASE: host=localhost dbname=postgres user=postgres password=postgres

    steps:
    - uses: actions/checkout@v5
    - uses: ikalnytskyi/action-setup-postgres@v8
    - uses: conan-io/setup-conan@v1
      with:
        cache_packages: true

    - name: Install dependencies with Conan
      run: conan install ${{ github.workspace }}/.github/conan/conanfile.py -s compiler.cppstd=20 --build=missing --lockfile-partial

    - name: Configure CMake Project
      run: cmake --preset unixlike-release-dev -DCMAKE_INSTALL_PREFIX=${{ github.workspace }}/taopq-install -DCMAKE_TOOLCHAIN_FILE=${{ github.workspace }}/.github/conan/build/Release/generators/conan_toolchain.cmake

    - name: Build project files
      run: cmake --build --preset unixlike-release-dev

    - name: Run tests
      run: cmake --build --preset unixlike-release-dev --target test

    - name: Run examples
      run: cmake --build --preset unixlike-release-dev --target examples
      env:
        PGDATABASE: ${{ env.TAOPQ_TEST_DATABASE }}

    - name: Install Taocpp TaoPQ
      run: cmake --build --preset unixlike-release-dev --target install
