name: Windows

on:
  #push:
  #  paths-ignore:
  #    - 'README.md'
  #    - 'doc/**'
  pull_request:
    paths-ignore:
      - 'README.md'
      - 'doc/**'

jobs:
  vs2022-msvc-clang:
    runs-on: windows-latest

    env:
      TAOPQ_TEST_DATABASE: host=localhost dbname=postgres user=postgres password=postgres
      CXX: ${{ matrix.cxx }}

    steps:
    - uses: actions/checkout@v5

    # - uses: ikalnytskyi/action-setup-postgres@v8

    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: '3.x'

    - name: Set up MSVC dev cmd (x64)
      uses: ilammy/msvc-dev-cmd@v1
      with:
        arch: x64

    - uses: conan-io/setup-conan@v1
      with:
        cache_packages: true

    - name: Install dependencies with Conan MSVC
      run: conan install ${{ github.workspace }}/.github/conanfile.py --build=missing -s compiler.cppstd=20 -c tools.cmake.cmaketoolchain:generator=Ninja

    - name: Configure (Ninja + MSVC)
      shell: pwsh
      run: |
        $env:CC="cl"
        $env:CXX="cl"

        Remove-Item Env:\Platform -ErrorAction SilentlyContinue
        Remove-Item Env:\VSCMD_ARG_TGT_ARCH -ErrorAction SilentlyContinue

        cmake --preset msvc-release-dev -DCMAKE_INSTALL_PREFIX=${{ github.workspace }}/taopq-install -DCMAKE_TOOLCHAIN_FILE=${{ github.workspace }}/.github/build/Release/generators/conan_toolchain.cmake

    - name: Build project files
      run: cmake --build --preset msvc-release-dev

    - name: Run tests
      run: cmake --build --preset msvc-release-dev --target test

    - name: Run examples
      run: cmake --build --preset msvc-release-dev --target examples
      env:
        PGDATABASE: ${{ env.TAOPQ_TEST_DATABASE }}

    - name: Install Taocpp TaoPQ
      run: cmake --build --preset msvc-release-dev --target install
