name: Windows

on:
  push:
    paths-ignore:
      - 'README.md'
      - 'doc/**'
  pull_request:
    paths-ignore:
      - 'README.md'
      - 'doc/**'

jobs:
  vs2022-msvc-clang:
    runs-on: windows-latest
    strategy:
      matrix:
        cxx: [cl.exe, clang.exe]

    env:
      TAOPQ_TEST_DATABASE: host=localhost dbname=postgres user=postgres password=postgres
      CXX: ${{ matrix.cxx }}

    steps:
    - uses: actions/checkout@v5
    - uses: ikalnytskyi/action-setup-postgres@v8
    - uses: ilammy/msvc-dev-cmd@v1
      with:
        arch: x64
    - uses: conan-io/setup-conan@v1
      with:
        cache_packages: true

    - name: Install dependencies with Conan MSVC
      if: matrix.cxx == 'cl.exe'
      run: conan install ${{ github.workspace }}/.github/conanfile.py --build=missing -s compiler.cppstd=20

    - name: Install dependencies with Conan Clang
      if: matrix.cxx == 'clang.exe'
      run: conan install ${{ github.workspace }}/.github/conanfile.py --build=missing -pr ${{ github.workspace }}/.github/win-clang.profile

    - name: Configure CMake Project
      run: cmake --preset msvc-release-dev -DCMAKE_INSTALL_PREFIX=${{ github.workspace }}/taopq-install -DCMAKE_TOOLCHAIN_FILE=${{ github.workspace }}/.github/build/generators/conan_toolchain.cmake -DCMAKE_CXX_COMPILER=${{ matrix.cxx }}

    - name: Build project files
      run: cmake --build --preset msvc-release-dev

    - name: Run tests
      run: cmake --build --preset msvc-release-dev --target test

    - name: Run examples
      run: cmake --build --preset msvc-release-dev --target examples
      env:
        PGDATABASE: ${{ env.TAOPQ_TEST_DATABASE }}

    - name: Install Taocpp TaoPQ
      run: cmake --build --preset msvc-release-dev --target install
