name: Windows

on:
  #push:
  #  paths-ignore:
  #    - 'README.md'
  #    - 'doc/**'
  pull_request:
    paths-ignore:
      - 'README.md'
      - 'doc/**'

jobs:
  vs2022:
    runs-on: windows-latest
    strategy:
      fail-fast: false
      matrix:
        cxx: [ "msvc", "clangcl" ]

    env:
      TAOPQ_TEST_DATABASE: host=localhost dbname=postgres user=postgres password=postgres

    steps:
    - uses: actions/checkout@v5

    #- name: Set up PostgreSQL
    # - uses: ikalnytskyi/action-setup-postgres@v8

    - name: Set up MSVC dev cmd (x64)
      uses: ilammy/msvc-dev-cmd@v1
      with:
        arch: x64

    - name: Set up Conan
      uses: conan-io/setup-conan@v1
      with:
        cache_packages: true

    - name: Install dependencies with Conan MSVC
      run: conan install ${{ github.workspace }}/.github/conanfile.py --build=missing -pr .github/msvc.profile

    - name: CMake Configure
      env:
        CXX: ${{ matrix.cxx == 'msvc' && 'cl' || 'clang-cl' }}
        CC: ${{ matrix.cxx == 'msvc' && 'cl' || 'clang-cl' }}
      shell: pwsh
      run: cmake --preset ${{ matrix.cxx }}-release-dev -DCMAKE_INSTALL_PREFIX=${{ github.workspace }}/taopq-install -DCMAKE_TOOLCHAIN_FILE=${{ github.workspace }}/.github/build/Release/generators/conan_toolchain.cmake -DCMAKE_VERBOSE_MAKEFILE=ON

    - name: Build project files
      run: cmake --build --preset ${{ matrix.cxx }}-release-dev --parallel

    - name: Run tests
      run: cmake --build --preset ${{ matrix.cxx }}-release-dev --target test

    - name: Run examples
      run: cmake --build --preset ${{ matrix.cxx }}-release-dev --target examples
      env:
        PGDATABASE: ${{ env.TAOPQ_TEST_DATABASE }}

    - name: Install Taocpp TaoPQ
      run: cmake --build --preset ${{ matrix.cxx }}-release-dev --target install
