name: Windows

on:
  push:
    paths-ignore:
      - 'README.md'
      - 'doc/**'
  pull_request:
    paths-ignore:
      - 'README.md'
      - 'doc/**'

jobs:
  vs2022:
    runs-on: windows-latest

    env:
      TAOPQ_TEST_DATABASE: host=localhost dbname=postgres user=postgres password=postgres

    steps:
    - uses: actions/checkout@v5
    - uses: ikalnytskyi/action-setup-postgres@v8
    - uses: ilammy/msvc-dev-cmd@v1

    - name: Configure CMake Project
      run: cmake --preset msvc-release-dev -DCMAKE_INSTALL_PREFIX=${{ github.workspace }}/taopq-install

    - name: Build project files
      run: cmake --build --preset msvc-release-dev

    - name: Run tests
      run: cmake --build --preset msvc-release-dev --target test

    - name: Run examples
      run: cmake --build --preset msvc-release-dev --target examples
      env:
        PGDATABASE: ${{ env.TAOPQ_TEST_DATABASE }}

    - name: Install Taocpp TaoPQ
      run: cmake --build --preset msvc-release-dev --target install

  vs2022-clang:
    runs-on: windows-latest

    env:
      TAOPQ_TEST_DATABASE: host=localhost dbname=postgres user=postgres password=postgres

    steps:
    - uses: actions/checkout@v4
    - uses: ikalnytskyi/action-setup-postgres@v8

    - run: cmake -E make_directory build

    - shell: bash
      working-directory: build/
      run: cmake $GITHUB_WORKSPACE -G "Visual Studio 17 2022" -T ClangCL -DPostgreSQL_ADDITIONAL_VERSIONS=14

    - working-directory: build/
      run: cmake --build . --config Release

    - working-directory: build/
      run: ctest -C Release --output-on-failure
